.idea
/computing/code_to_electrons-how_computers_work.md
playground.md
/computing/notes.md
/agri-business/carbon-farm.md
/agri-business/compost-manure.md
/agri-business/plants-notes.md
/agri-business/planting-crops-tips.md
